<?xml version="1.0" encoding="UTF-8"?>
<config>
  <object id="3">
    <metadata key="name" value="Cube"/>
    <metadata key="extruder" value="1"/>
    <metadata face_count="24"/>
    <part id="1" subtype="normal_part" uuid="68f8b80a-315b-4f92-86d5-29d797a6c3d7">
      <metadata key="name" value="Cube"/>
      <metadata key="matrix" value="1 0 0 -6.880718676683216 0 1 0 -31.01697421374989 0 0 1 0 0 0 0 1"/>
      <mesh_stat face_count="12" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="2" subtype="normal_part" uuid="e9a171c2-fd9c-4538-9332-b88c25f88685">
      <metadata key="name" value="Generic-Cube"/>
      <metadata key="matrix" value="1 0 0 18.719281704786511 0 1 0 -5.4169738322801635 0 0 1 0 0 0 0 1"/>
      <metadata key="extruder" value="1"/>
      <mesh_stat face_count="12" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
  </object>
  <plate>
    <metadata key="plater_id" value="1"/>
    <metadata key="plater_name" value=""/>
    <metadata key="locked" value="false"/>
    <metadata key="filament_map_mode" value="Auto For Flush"/>
    <metadata key="thumbnail_file" value="Metadata/plate_1.png"/>
    <metadata key="thumbnail_no_light_file" value="Metadata/plate_no_light_1.png"/>
    <metadata key="top_file" value="Metadata/top_1.png"/>
    <metadata key="pick_file" value="Metadata/pick_1.png"/>
    <model_instance>
      <metadata key="object_id" value="3"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="72"/>
    </model_instance>
  </plate>
  <assemble>
   <assemble_item object_id="3" instance_id="0" transform="1 0 0 0 1 0 0 0 1 0 0 12.800000190734863" offset="0 0 0" />
   <assemble_item object_id="3" volume_id="0" transform="1 0 0 0 1 0 0 0 1 0 0 0" />
   <assemble_item object_id="3" volume_id="1" transform="1 0 0 0 1 0 0 0 1 25.600000381469727 0 0" />
  </assemble>
</config>
